/* Flat Typography
---------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
